{% extends 'base.html.twig' %}

{% block title %}Kategorie{% endblock %}

{% block body %}
    <table>
    <tr><th>Kategorie</th></tr>
    {% for category in categories %}
        {# <li><a href="/category/{{ category.id }}">{{ category }}</a></li> #}
        <tr>
            <td><a href="{{ path('productsByCategory', { id: category.id }) }}">{{ category }}</a></td>
        <tr>
    {% endfor %}
    </table>
{% endblock %}
