{% extends 'base.html.twig' %}

{% block title %}Kategorie{% endblock %}

{% block main %}
    <div class="container">
        <header class="mb-4">
            <h1 class="h2 text-center">Kategorie</h1>
        </header>
        <div class="row">
        {% for category in categories %}
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4">
                <div class="p-2 category">
                    <div class="category-image">
                        <img src="{{ asset('/images/uploads/categories/' ~ category.image) }}" alt="{{ category.name }}">
                    </div>
                    <p class="name">{{ category.name }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
