{% extends 'base.html.twig' %}

{% block title %}Kategorie{% endblock %}

{% block body %}
    <h2>Kategorie</h2>
    <ul>
    {% for category in categories %}
        <li><a href="/category/{{ category.id }}">{{ category }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
