{% extends 'base.html.twig' %}

{% block title %}Kategorie{% endblock %}

{% block stylesheets %}
    <link href="../css/app.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    <script src="../js/webgazer.js" type="text/javascript"></script>
    <script src="../js/app.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {% if products|length > 0 %}
        <table>
            <tr>
                <th>{{ category }}</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.price }} zł
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        Brak produków w danej kategorii
    {% endif %}
{% endblock %}
