{% extends 'base.html.twig' %}

{% block title %}Strona Główna{% endblock %}

{% block body %}



{# <input type="checkbox" id="camHidden" checked="checked">
<label>Hidden Camera</label> #}

{% endblock %}
