button.calibration-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
}
main.main {
    padding: 2rem !important;
    height: 85vh;
}

main div.row {
    height: 33.33333333%;
}
