div.product-image {
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

div.category-name > a {
    text-decoration: none;
    color: inherit;
}
