{% extends 'base.html.twig' %}

{% block title %}Nie znaleziono produktu{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h1 class="h1 text-center">Nie znaleziono produktu!!!</h1>
        <div class="h4 text-center">
            Wróć do <a href="{{ path('homepage') }}">Strony Główej</a>
        </div>
    </div>
{% endblock %}
